* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #BCBCBC;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 


.material-icons {
    background-color: #242424;
    color: #6C6C6C;
}

a {
    text-decoration: none;
}
body {
    background: #232323;
}
/* ***************************
*        Top menu            *
*****************************/
.top-nav {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 20px 0 20px;
    font-size: 0.9rem;
}

.top-nav li {
    margin: 0;
    padding: 5px 15px;
}

.top-nav li a {
    text-decoration: none;
    color: #D1D1D1;
}

.top-nav li:nth-child(5) {
    color:#fff;
    margin-right: 740px;
  }

  .top-nav li:nth-child(6) {
    color:#6C6C6C;
    margin-right: auto;
    display: -webkit-flex;
    align-items: center;
  }

  
  

  /* .top-nav .material-icons {
      color: #fff;
  } */

/* ***************************
*        Main menu            *
*****************************/

 
.main-nav {
    display: flex;
    font-size: 0.8rem;
    background-color: #242424;
    box-shadow: 1px 14px 13px 0px rgba(31, 30, 30, 0.75);
    margin-bottom: 3rem;
    
}

.main-nav li {
    padding: 15px;
    background-color: #242424;
}

.main-nav li a{
    text-decoration: none;
    color: #6C6C6C;
    background-color: #242424;
}

.main-nav li:first-child a{
    color: #B48375;
}


.main-nav li:nth-child(1) {
    display: flex;
    align-items: center;
    border-right: 1px solid #171717;
    font-size: 1.1rem;
  }

.main-nav li:nth-child(3) {
    display: flex;
    align-items: center;
    border-left: 1px solid #171717;
    padding-left: 40px;
  }

.main-nav li:nth-child(4) {
    margin-right: 500px;
    display: flex;
    align-items: center;
    border-right: none;
  }

.main-nav li:nth-child(5) {
    border-left: 1px solid #171717;
    border-right: none;
  }

.main-nav li:nth-child(8) {
    border-right: 1px solid #171717;
    
  }

.main-nav i {
    display: block;
    text-align: center; 
}


.main-nav li:nth-child(2) .material-icons{
   background: #6C6C6C;
   color: #171717;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   font-size: 20px;
   margin: 0 auto 7px auto;
   font-weight: bold;
  }



/* **********************************
*          container                *
*********************************** */
main {
    height: 100vh;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    height: auto;
}

.intro {
    padding: 10px;
}

h1 {
    color: #DAA857;
    display: inline-flex;
}

h1 .material-icons {
    color: #DAA857;
    font-size: 2.5rem;
    display: inline-flex;
    margin-right: 15px;
}

.sub-info {
    color: ##BCBCBC;
    font-size: 1rem;
    padding: 15px;
}

.section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.box-menu {
    margin:10px;
    font-size: 0.8rem;
}

.box-menu li {
    padding: 3px;
}

.last {
  margin-top: 60px;
}

.number-two {
    height: 150px;
    background: #242424;
    border-radius: 20px ;
    box-shadow: -2px 14px 20px 8px rgba(12, 12, 12, 0.75);
}

.modal-box.one {
    margin-top: 50px;
    background: #242424;
    border-bottom: 1px solid #171717;
    border-radius: 20px  20px 0  0;
    padding: 10px;
}

.third-menu {
    background: #242424;
    display: flex;
    font-size: 0.8rem;

}

.third-menu li {
    padding-right: 25px;
    
}

.third-menu li:first-child {
    margin-right: 50px;
    margin-left: 25px;
}

.third-menu li:first-child a {
    color: #B48375;
}

.third-menu a {
    position: relative;
    transition: opacity 150ms ease-in-out;
}

.third-menu li:nth-child(2) a:hover,
.third-menu li:nth-child(3) a:hover
{
    color: #DAA857;
}

.third-menu li:nth-child(2) a::after,
.third-menu li:nth-child(3) a::after
 {
    content: '';
    display: block;
    height: 2px;
    background: #DAA857;
    position: absolute;
    bottom: -.1em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
}

.third-menu li:nth-child(2) a:hover::after,
.third-menu li:nth-child(3) a:hover::after
 {
    transform: scale(1,1);
    
}

.forth-menu {
    background: #242424;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 2rem;
}

.forth-menu li {
    padding-right: 20px;
}

.forth-menu li:first-child {
    margin-right: 20px;
    margin-left: 15px;
    
}

.forth-menu li:first-child a {
    color: #B48375;
}




/* ************************ */


/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 250px;
  
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
 
}

.select-selected {
  background-color: #171717;
  border-radius: 10px 10px 0 0;
} 

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
 
}

.select-items div:last-child,.select-selected:last-child {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  border-radius: 0 0 25% 25%;
   
 
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #232323;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #171717;
}